/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#create-invoice-dialog .MuiPaper-root {
  max-width: 100% !important;
  width: 60%;
  height: 70%;
}

#create-invoice-dialog .MuiDialogActions-root {
  display: block;
  padding: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#back-drop {
  z-index: 9999 !important;
}
